<ion-header>
  <ion-navbar>
    <ion-title>
      Templates
    </ion-title>

    <ion-buttons right>
      <button ion-button icon-only (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card (click)="onEditTemplate();">
    <ion-card-header>
      Test Template
    </ion-card-header>
    <ion-card-content>
      This is the test template. Please click this template to test!!!
    </ion-card-content>
  </ion-card>

  <button ion-button class="grid-btn" (click)="onShowGrid();">Open Incidents</button>
</ion-content>
