page-edit-template {
  .question-area {
    border-bottom: 1px solid map-get($map: $colors, $key: primary);
  }

  .answer-type-div {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
  
    .type-label {
      font-weight: 600;
      font-size: 16px;
    }

    .type-span {
      font-weight: 400;
      font-size: 14px;
    }

    .change-btn {
      color: map-get($map: $colors, $key: primary);
    }
  }

  .add-question {
    width: 100%;
    margin-top: 15px;
  }

  .question-label {
    color: black;
    font-size: 18px;
  }

  ion-list {
    width: 90%;
    margin: auto !important;
  }

  .slide-btn {
    width: 60px;
    padding-top: 6px;
  }

  .slide-icon {
    margin-top: 5px;
  }

  .section {
    background: gray;

    .question-label {
      color: white;
      font-size: 12px;
    }

    .item-inner {
      border: none !important;
    }
  }
}
