<ion-header>
  <ion-navbar>
    <ion-title>
      Edit Template
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-textarea class="question-area" rows="2" type="text" placeholder="Type your question here" [(ngModel)]="question"></ion-textarea>
      <div class="answer-type-div">
        <div class="type-label">Type: <span class="type-span">{{answerType}}</span></div>
        <div class="change-btn" (click)="onSelectType();">CHANGE</div>
      </div>
      <button ion-button class="add-question" [disabled]="question == ''" (click)="onAddQuestion()">Add Question</button>
    </ion-card-content>
  </ion-card>

  <ion-list id="list" [dragula]="'questions'" [(dragulaModel)]="globalProvider.questions">
    <ion-item-sliding #slidingItem *ngFor="let question of globalProvider.questions; let i = index;">
      <ion-item #item *ngIf="question.answerType != 'Section Header'">
        <ion-icon item-start [name]="question.icon" (click)="onEdit(i);">
        </ion-icon>
        <div (click)="onEdit(i);">
          <p class="question-label">{{question.question}}</p>
          <p>{{question.answerType}}</p>
        </div>
        <ion-icon item-end name="menu" (click)="onMenu(slidingItem, item);"></ion-icon>
      </ion-item>

      <ion-item-options side="right" *ngIf="question.answerType != 'Section Header'">
        <button class="slide-btn" ion-button (click)="onEdit1(slidingItem, i);">
          Edit
          <ion-icon class="slide-icon" name="md-create"></ion-icon>
        </button>
        <button class="slide-btn" ion-button color="danger" (click)="onDelete(slidingItem, i)">
          Delete
          <ion-icon class="slide-icon" name="md-trash"></ion-icon>
        </button>
        <button class="slide-btn" ion-button color="dark" (click)="onClose(slidingItem)">
          Close
          <ion-icon class="slide-icon" name="md-close-circle"></ion-icon>
        </button>
      </ion-item-options>

      <ion-item class="section" *ngIf="question.answerType == 'Section Header'" (click)="onEdit(i)">
        <div>
          <p class="question-label">{{question.question}}</p>
        </div>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
